body {
    background-color: #3F012C;
    color: #FDB147;
    font-family: sans-serif;
    margin: 3em;
    line-height: 1.2;
}

a {
    color: #01BCBB;
    line-height: 1.6;
}

a:hover {
    text-shadow: 0 0 .8px #01BCBB, 0 0 .8px #01BCBB;
}

a:visited:hover {
    text-shadow: 0 0 .8px #FFEACC, 0 0 .8px #FFEACC;
}

a:visited{
    color: #FFEACC;
}

.footer {
    margin-top: 5em;
}